html
    head
        title URL Shortener

    style.
        body {
            background-color: black;
            color: white;
        }
    
    body
        h1 URL shortening service
        br
        p Complete the following form to shorten your URL
        br
        form(method='POST')
            input(type='text' name='url' placeholder='the url you want to shorten')
            input(type='text' name='custom' placeholder='custom shortened name, if wanted')
            input(type='submit')
