html
    head
        title URL Shortener

    style.
        body {
            background-color: black;
            color: white;
        }
    
    body
        h1 URL shortening service
        p When a URL is shortened, it will look like this: i.gifit.io/s/`your custom url`
        br
        br
        a(href="/create")
            p Click here to shorten your link!
            
